img {
  width: 85%;
  height: auto;
  border-radius: 20px;
  border: 3px solid black;
}

li {
  list-style: none;
  padding: 10px;
}

h1 {
  text-align: center;
}

body {
  font-family: 'Arvo';
  background-color: #e0cda7;
}

.pets {
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-columns: 3 300px;
}

.contact {
  text-align: center;
  margin-top: 10px;
}

p {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .pets {
    -webkit-columns: 2 300px;

    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 750px) {
  .pets {
    -webkit-columns: 1 300px;

    display: block;
    text-align: center;
  }
}
